dt {
  float: left;
  margin-right: 7px;
}

#weather-day-uv-index {
  padding: 7px;
}

.favorable {
  background-color: green;
}

.moderate {
  background-color: yellow;
}

.severe {
  background-color: red;
}
